<div class="conatiner">
    <div class="row">
        <div class="col-md-8 offset-2">
            <table class="table table-primary  text-center" style="margin-top: 100px;">
                <tr style="margin-top: 10px;">
                    <th>1</th>
                    <th>Dil wale dulhaniya le jaenge</th>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/theater">Book Ticket</button>
                </tr> 
                
                <tr style="margin-top: 10px;">
                    <th>2</th>
                    <th>Golmal</th>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/theater">Book Ticket</button>
                </tr> 
                <tr style="margin-top: 10px;">
                    <th>3</th>
                    <th>Bahubali 3 </th>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/theater">Book Ticket</button>
                </tr> 
                <tr style="margin-top: 10px;">
                    <th>4</th>
                    <th>Delhi Belli</th>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/theater">Book Ticket</button>
                </tr> 
                <tr style="margin-top: 10px;">
                    <th>5</th>
                    <th>RRR</th>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/theater">Book Ticket</button>
                </tr> 
                
            </table>
        </div>
    </div>
</div>