<div class="conatiner">
    <div class="row">
        <div class="col-md-8 offset-2">
            <table class="table table-danger  text-center" style="margin-top: 100px;">
                <tr style="margin-top: 10px;">
                    <th>1</th>
                    <th>C21 Mall</th>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">10am-12:30pm</button>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">1pm-3:30pm</button>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">5pm-7:30pm</button>
                </tr> 
                
                <tr style="margin-top: 10px;">
                    <th>2</th>
                    <th>Gold Cinema</th>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">10am-12:30pm</button>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">1pm-3:30pm</button>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">5pm-7:30pm</button>
                </tr> 
                <tr style="margin-top: 10px;">
                    <th>3</th>
                    <th>INOX</th>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">10am-12:30pm</button>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">1pm-3:30pm</button>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">5pm-7:30pm</button>
                </tr> 
                <tr style="margin-top: 10px;">
                    <th>4</th>
                    <th>Fun Cinema</th>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">10am-12:30pm</button>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">1pm-3:30pm</button>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">5pm-7:30pm</button>
                </tr> 
                <tr style="margin-top: 10px;">
                    <th>5</th>
                    <th>PVR Cinema</th>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">10am-12:30pm</button>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">1pm-3:30pm</button>
                    <button class="btn btn-danger btn-sm text-center" routerLink="/book">5pm-7:30pm</button>
                </tr> 
                
            </table>
        </div>
    </div>
</div>